@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(../font/googlesans-regular-webfont.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.carte {
    width: 300px;
    margin: 15px;
}

.organizer {
    display: flex;
    flex-wrap: wrap;
}

#compt {
    margin-right: 8px;
}

button.mdc-fab:disabled {
    background-color: lightgrey;
    box-shadow: none;
}

.panels {
    padding-top: 1px;
}

.panel {
    display: none;
}

.panel.active {
    display: block;
}

div.mdc-toolbar__row {
    min-height: 48px
}